#main-view-content {
    @media (max-width: 750px) {
        flex-direction: column;
    }
}



.c_tbox {
    font-size: 40;
    font-family: Archivo;
    
    border-radius: 5px;
    box-shadow: inset 0px 3px 4px var(--shadows-primary-inner-color);

    &.cent {
        text-align: center;
    }
}


.c_button.alarm-box {
    height: 80;
    padding: 10px;

    /*
    TODO: Move this to common.css for use with large buttons to
    minimise animations.
    */
    &.min-anim {
        &:hover {
            transform: 
                scale(102.5%);
        }

        &:active {
            transform: 
                scale(97.5%);
        }
    }

    > * > span.time-set {
        font-size: 24px;
    }
}
