#main-view-content {
    @media (max-width: 750px) {
        flex-direction: column;
    }
}



.c_button.alarm-box {
    height: 80;
    padding: 10px;

    > * > span.time-set {
        font-size: 24px;
    }
}