#main-view-content {
    padding: 10px;
    gap: 10px;
    align-items: center;

    > * {width: auto;}

    @media (max-width: 750px) {
        flex-direction: column;

        & > * {width: 100%;}
        & > #al\.alarms-list {height: auto;}
        & #al\.alarms_controls\.live_clock {font-size: 30px; padding-right: 0;}
        & #al\.alarms_controls\.rack {
            flex-direction: row;
            width: auto;
            height: fit-content;
        }
    }
}



#al\.alarms_list {
    flex: 1;
    height: 100%;
    min-width: 300px;
}



#al\.alarms_controls\.live_clock {
    text-align: right;
    align-content: center;
    padding-right: 20px;
    font-size: 60px;
    width: 100%;
}



#al\.opts-pane {
    padding: 10px;
    gap: 10px;
}



#al\.opts-pane > div {
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    &.indent {
        padding: 5px 5px 16px 60px;

        &.final {
            border-bottom: 1px solid var(--palette-primary-dark-color);
        }
    }

    > span {
        flex-grow: 1;
        max-height: min-content;
    }

    > input[type="checkbox"] {
        width: 40px;
        height: 20px;

        transition: 
            transform 200ms,
            background-color 200ms,
            outline 200ms;

        &:checked {
            &:hover {
                transform: scale(110%) translateX(-4px);
            }

            &:active {
                transform: scale(95%) translateX(-5px);
            }
        }
    }

    &#al\.opts-pane\.ring-time {
        display: flex;

        flex-direction: column;
        align-items: flex-start;

        width: 100%;
        height: 160px;
    }
}



#al\.opts-pane\.ring-time\.day-setter,
#al\.opts-pane\.ring-time\.time-setter {
    display: flex;
    flex-direction: row;
    
    padding: 5px;
    gap: 5px;
    
    align-items: center;
    justify-content: center;

    width: 100%;
}



#al\.opts-pane\.ring-time\.day-setter {
    height: 50000px;
    > div {
        font-size: 16;
        justify-content: center;

        > span {
            text-align: center;
        }

        > input[type="checkbox"] {
            width: 40px;
            height: 40px;
        }
    }
}



#al\.opts-pane\.ring-time\.time-setter > * {
    aspect-ratio: 1;
    width: 60px;
    height: 60px;
    font-size: 25pt;
}



#al\.alarms_list {
    overflow-y: scroll;
}



#al\.alarms_list > button.alarm-box {
    height: fit-content;
    padding: 16px;
    gap: 10px;


    & * {
        font-size: 24px;
    }

    & .alarm-acts {
        align-items: center;
        & * {
            font-size: 16px;
        }
    }
}
