#main-view-content {
    @media (max-width: 750px) {
        flex-direction: column;
    }
}



.c_tbox {
    font-size: 40;
    font-family: Archivo;
    
    border-radius: 5px;
    box-shadow: inset 0px 3px 4px var(--shadows-primary-inner-color);

    &.cent {
        text-align: center;
    }
}





#al\.opts-pane > div {
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    > span {
        flex-grow: 1;
        max-height: min-content;
    }

    > input[type="checkbox"] {
        width: 40px;
        height: 20px;
        appearance: none;

        background-color: #00000045;
        outline: 1px solid #00000085;
        border-radius: 4px;

        transition: 
            transform 200ms,
            background-color 200ms,
            outline 200ms;

        &:hover {
            background-color: #FFFFFF25;
            outline: 3px solid #00000085;
            transform: scale(110%);
        }

        &:active {
            outline: 1px solid #00000085;
            transform: scale(95%);
        }

        &:checked {
            content: "Test";
            color: #000000;

            transform: scaleX(110%) translateX(-4x);
            background-color: #FFFFFFB3;
            outline: 1px solid #FFFFFFFF;

            &:hover {
                background-color: #FFFFFF45;
                outline-width: 3px;
                transform: scale(110%) translateX(-4px);
            }

            &:active {
                outline-width: 1px;
                transform: scale(95%) translateX(-5px);
            }
        }
    }

    &#al\.opts-pane\.ring-time {
        display: flex;

        flex-direction: column;
        align-items: flex-start;

        width: 100%;
        height: 160px;

        > .day-setter, .time-setter {
            display: flex;
            flex-direction: row;
            
            padding: 5px;
            gap: 5px;
            
            align-items: center;
            justify-content: center;

            width: 100%;
        }

        > .day-setter {
            > * {
                aspect-ratio: 1;
                width: 40px;
                font-size: 15pt;
            }
        }

        > .time-setter {
            > * {
                aspect-ratio: 1;
                width: 60px;
                font-size: 25pt;
            }
        }
    }
}
.c_button.alarm-box {
    height: 80;
    padding: 10px;

    /*
    TODO: Move this to common.css for use with large buttons to
    minimise animations.
    */
    &.min-anim {
        &:hover {
            transform: 
                scale(102.5%);
        }

        &:active {
            transform: 
                scale(97.5%);
        }
    }

    > * > span.time-set {
        font-size: 24px;
    }
}
