/* TODO: Move this to common.css Ensures that scrolling for the main
view works, both horizontally and vertically.*/
#embed_top_div {
    position: fixed;
    display: flex;

    flex-flow: column nowrap;
} 

#cl\.grid-view {
    display: flex;
    position: sticky;

    flex-basis: auto;
    flex-direction: column;
    
    overflow-x: auto;
    overflow-y: auto;
    
    gap: 10px;
    padding: 10px;

    > div {
        display: flex;
        height: 180px;
        gap: 10px;
        flex-shrink: 0;
    }
}

#cl\.grid-view > div > .cal_box {
    display: flex;

    flex-direction: column;
    flex-shrink: 0;

    width: 180px;
    height: 100%;

    padding: 10px;
    gap: 20px;

    background-color: bisque;

    border-radius: 8px;
    box-shadow: 0px 4px 6px var(--shadows-primary-color);
}

#cl\.grid-view .cal_box > .task_list {
    white-space: nowrap;
    flex-direction: column;

    gap: 2px;

    > .c_button > i {
        font-size: 12px;
    }
}


#cl\.grid-view\.ctrl\.opts > .c_button > i.bi {
    font-size: 14px;
}

#cl\.grid-view\.ctrl\.add-task > i.bi {
    font-size: 20px;
}