#embed_top_div {
    position: fixed;
    display: flex;

    flex-flow: column nowrap;
}



#cl\.date {
    padding: 20px;
    font-size: 20px;
    box-shadow: 0px 4px 8px -8px;
}


#cl\.week-days {
    position: sticky;
    top: 0;
    flex-direction: row;

    background-color: var(--palette-accent-color-darker);
    box-shadow: var(--palette-primary-dark-color) 0px 2px 10px;
    font-weight: 900;
    color: white;

    width: fit-content;
    padding: 10px;

    & .container {
        display: flex; 
        width: fit-content;
        gap: 10px;

        > span {
            font-size: 16px;
            text-align: center;
            justify-content: center;
            width: 180px;
        }
    }
}


#cl\.viewer {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}


#cl\.grid-view {
    flex-direction: column;

    overflow-x: auto;
    overflow-y: auto;

    height: 100%;
    width: 100%;
}


#cl\.grid-view\.tasks {
    display: flex;
    position: relative;

    flex-basis: auto;
    flex-direction: column;
    
    gap: 10px;
    padding: 10px;

    > div {
        display: flex;
        height: 180px;
        gap: 10px;
        flex-shrink: 0;
    }
}

#cl\.grid-view\.tasks > div > .cal_box {
    display: flex;

    flex-direction: column;
    flex-shrink: 0;

    width: 180px;
    height: 100%;

    padding: 10px;
    gap: 20px;

    background-color: var(--palette-primary-color);

    &.disabled {
        background-color: var(--palette-primary-dark-color);
    }

    border-radius: 8px;
    box-shadow: 0px 4px 6px var(--shadows-primary-color);
}

#cl\.grid-view .cal_box > .task_list {
    white-space: nowrap;
    flex-direction: column;

    gap: 2px;

    > .c_button > i {
        font-size: 12px;
    }
}


#cl\.grid-view\.ctrl\.opts > .c_button > i.bi {
    font-size: 14px;
}

#cl\.grid-view\.ctrl\.add-task > i.bi {
    font-size: 20px;
}