/* TODO: Move this to common.css Ensures that scrolling for the main
view works, both horizontally and vertically.*/
#embed_top_div {
    position: fixed;
    display: flex;

    flex-flow: column nowrap;
} 

#cl\.grid-view {
    display: flex;
    position: sticky;

    flex-basis: auto;
    flex-direction: column;
    
    overflow-x: auto;
    overflow-y: auto;
    
    gap: 10px;
    padding: 10px;

    > div {
        display: flex;

        height: 180px;
        background-color: springgreen;

        justify-content: center;
        gap: 10px;

        > div {
            width: 100px;
            background-color: bisque;
        }
    }
}