:root {
    --txt_tiny : 10px;
    --txt_def : 14px;
    --txt_tag : 20px;
    --txt_title : 24px;

    --palette-primary-light-color : #FFFFFF;
    --palette-primary-color: #eee2c9;
    --palette-primary-dark-color: #686360;
    
    --palette-accent-color: #ccd1e2;
    --palette-accent-color-dark: #8e98b8;
    --palette-accent-color-darker: #33334e;

    --shadows-primary-color: #5f3a3a70;
    --shadows-primary-inner-color: #25151596;

    --shadows-sidebar-drawover: #7F96A2;
    --shadows-buttons-idle-color: #5f3a3a70;
    --shadows-buttons-hover-color: #8d7b5a42;
    --shadows-buttons-press-color: #ffffff;
}


* {
    box-sizing: border-box;
    border: 0px;

    scrollbar-color: #ffffff83 #00000023;
    scrollbar-width: thin;
}


html, body {
    font-family: Archivo;
    font-size: 14px;
}

body {
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}

button, .popover {
    font-family: Archivo;
}

hr {
    /* Horizontal rules are just thin boxes with borders.
    Since all elements have 0px borders by default, just set
    the top border's thickness*/
    margin: 0px;
    border-top: 1px solid #00000058;
    width: 100%;

    &.space {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}



/* #region Common traits */



/*
Centring options:

.c_cent - Completely centred (vertically and horizontally)
.c_cent_v - Vertically centred
.c_cent_h - Horizontally centred
*/

.c_cent_v, .c_cent {
    align-items: center;
    align-content: center;
}

.c_cent_h, .c_cent {
    justify-content: center;
    text-align: center;
}


/* "width, height, 100%" */
.c_wh-100p {
    width: 100%;
    height: 100%;
}


/* #endregion */


/* #region Textbox */

input[type="textbox"], textarea {
    font-family: Archivo;
    
    padding: 4px;
    border-radius: 5px;
    box-shadow: inset 0px 3px 4px var(--shadows-primary-inner-color);

    width: auto;
    min-width: 20px;

    &[data-len="s"] {
        width: 50px;
    }

    &[data-len="m"] {
        width: 90px;
    }

    &[data-len="l"] {
        width: 150px;
    }

    &[data-len="hs"] {
        flex: 1 0;
        size: 0;
        width: 0px;
    }

    &.cent {
        text-align: center;
    }
}



input[type="checkbox"] {
    appearance: none;

    background-color: #00000045;
    outline: 1px solid #00000085;
    border-radius: 4px;

    width: 16px;
    height: 16px;

    transition: 
        transform 200ms,
        background-color 200ms,
        outline 200ms;

    &:hover {
        background-color: #FFFFFF25;
        outline: 3px solid #00000085;
        transform: scale(110%);
    }

    &:active {
        outline: 1px solid #00000085;
        transform: scale(95%);
    }

    &:checked {
        color: #000000;

        transform: scale(110%);
        background-color: #FFFFFFB3;
        outline: 1px solid #FFFFFFFF;

        &:hover {
            background-color: #FFFFFF45;
            outline-width: 3px;
            transform: scale(110%)
        }

        &:active {
            outline-width: 1px;
            transform: scale(95%)
        }
    }

    &.accent:checked {
        background-color: var(--palette-accent-color-darker);
    }

    &.long {
        width: 32px;
    }

    &.medium {
        width: 24px;
        height: 24px;

        &.long {
            width: 48px;
        }
    }

    &:disabled {
        background-color: #00000000;
    }
}



dialog.popup {
    width: 100vw;
    height: 100vh;
    background-color: #00000080;

    &.cent {
        align-content: center;
        align-items: center;
        justify-items: center;

        & > div.window {
            /* Firefox doesn't respond to justify-items */
            margin-left: auto;
            margin-right: auto;
        }
    }

    & > .close {
        top: 0px;
        right: 0px;

        margin: 16px 16px 0 0;
        color: white;

        position: absolute;
        font-size: 30px;
    }

    & > div.window {
        position: relative;

        background-color: white;
        padding: 16px;

        width: fit-content;
        height: max-content;

        min-width: 250px;
        min-height: 60px;

        & > span.title {
            font-size: var(--txt-tag);
        }

        & .dialog-list {
            background-color: var(--palette-primary-color);
            max-height: 500px;
            overflow-y: auto;
        }

        & > div.dialog-actions {
            min-height: 24px;
            width: 100%;
        }
    }
}



select, ::picker(select) {
    appearance: base-select;
    font-family: Archivo;
    border-radius: 6px; 
    border: none;
}

select {
    box-shadow: inset 0px 2px 4px var(--shadows-primary-color);
}

::picker(select) {
    box-shadow:
        inset 0px -2px 2px var(--palette-accent-color),
        0px 4px 12px var(--shadows-primary-color);
    padding: 10px;
}



.c {
    &.flex-start {
        margin-right: auto;
    }
    &.flex-end {
        margin-left: auto;
    }



    &.curvy/*,&.button */ {
        border-radius: 4px;
    }

    &.lift/*,&.button*/ {
        box-shadow: 0px 3px 3px var(--shadows-buttons-idle-color);
    }



    &.size {
        &.fw {
            width: 100%;
        }
        &.fh {
            height: 100%;
        }
    }
}



/* #region Common styling */


button {
    border-radius: 4px;

    outline-color: #00000020;
    outline-style: solid;
    outline-width: 1px;

    padding: 5px 5px 5px 5px;

    box-shadow: 0px 3px 3px var(--shadows-buttons-idle-color);



    transition:
        background-color 300ms cubic-bezier(0, 0.75, 0.5, 1),
        box-shadow 200ms cubic-bezier(.21,.8,.2,1.15),
        outline-width 700ms,
        outline-color 500ms,
        transform 200ms cubic-bezier(.21,.8,.2,1.15)
    ;
    cursor: pointer;

    &:hover {
        background-color: #8e98b8;
        box-shadow: 0px 4px 4px var(--shadows-buttons-hover-color);
        outline-width: 2px;
        outline-color: #FFFFFF96;
        transform: 
            scale(110%);
    }

    &:focus {
        border: 2px;
        background-color: #b3d6ff;
    }

    &:active {
        transition:
            background-color 300ms cubic-bezier(0, 0.75, 0.5, 1),
            box-shadow 200ms cubic-bezier(.21,.8,.2,1.15),
            outline-width 20ms,
            transform 200ms cubic-bezier(.11,1.69,.14,.83)
        ;
        background-color: #ffba92;
        box-shadow: 0px 2px 8px var(--shadows-buttons-press-color);
        outline-width: 3px;
        transform: 
            scale(95%);
    }

    &.min-anim {
        &:hover {
            transform: 
                scale(101.5%);
        }

        &:active {
            transform: 
                scale(99.75%);
        }
    }
}


button.with-icon {
    aspect-ratio: 1/1;
}



button.entry {
    display: flex;
    flex-direction: row;

    text-align: left;
    align-items: center;
    font-size: 12px;

    &.cent {
        > span {
            flex-grow: 1;
            text-align: center;
        }
    }

    > i.bi {
        margin-right: 10px;
        font-size: 16px;
    }
}



.c_pr-light {
    background-color: var(--palette-primary-color);
}



.c_pr-dark, .c_pit_pr-dark {
    background-color: var(--palette-primary-dark-color);
}



.c_ac-dark {
    background-color: var(--palette-accent-color-dark);
}



.c_pit_pr-dark {
    box-shadow: inset 0px 3px 4px var(--shadows-primary-inner-color);
    border-radius: 4px;
}


/* #endregion */



/* #region Flexible styling */


/* For use with page/element layouts. */
.c_flex_lay {
    display: flex;
    flex-wrap: nowrap;

    &.gapped {
        gap: 10px;
    }

    &.padded {
        padding: 8px;
    }

    &.indent {
        padding-left: 16px;
    }
}


/* For use with side bars and single-row/column divs.
Pair with .c_flex_h or .c_flex_v to change their direction*/
.c_flex_list {
    display: flex;
    flex-wrap: nowrap;

    flex-basis: content;
    
    gap: 10px;

    border-radius: 10px;
    padding: 8px;

    &.compact {
        padding: 4px;
        gap: 4px;

        > button {
            border-radius: 6px;
        }
    }

    &.square {
        > button {
            aspect-ratio: 1/1;
        }
    }

    > button {
        font-size: 10px;
    }
    
    &.bt_m > button {
        font-size: 16px;
    }
    &.bt_l > button {
        font-size: 24px;
    }

    & > .list-item {
        background-color: white;

        border-radius: 6px;
        padding: 8px;
        width: 100%;
        min-height: 30px;
        flex: 1 0;
    }
}


*.c_flex_h {
    flex-direction: row;
    width: auto;
}


*.c_flex_v {
    flex-direction: column;
    height: auto;
}



/* Meant for main content divs to be growing/shrinking between
headers and footers */
.c_flex_main {
    display: flex;

    flex: 1;
    flex-direction: column;

    height: auto;
    overflow-y: auto;

    &.column {
        flex-direction: row;
    }
}



/* #endregion */



/* #region Topbar for Embed */

#embed_top_div {
    position: fixed;
    display: flex;

    flex-flow: column nowrap;
} 

/* #endregion */



/* #region Left sidebar styling */



.side-shade {
    box-shadow: 5px 0px 10px #25242167;
}



.left-sidebar {
    position: sticky;
    padding: 0 0 0 0;
    width: 80px;
    height: 100vh;
    background-color: #FFFFFF;

    > .misc-ftr {
        background-color: var(--palette-accent-color);
        position: absolute;

        width: 100%;
        bottom: 0;
        height: auto;
        padding: 10px 10px 10px 10px;
        min-height: 50px;

        > .c_flex_list {
            width: 100%;
            background-color: #8e98b8;
        }
    }

    > .mode-list {
        position: relative;

        height: auto;
        padding: 10px;
    }
}



.planner-select {
    position: sticky;

    width: 240px;
    height: 100vh;
    background-color: #686360;
    
    .active-header {
        width: 100%;
        height: 120px;

        flex-basis: content;

        background-color: #ffffff9a;
        padding: 10px 10px 10px 10px;

        /* TODO: Move this hr subclass to c_flex_lay and c_flex_list instead. */
        > hr {
            margin-left: unset;
            margin-right: unset;
        }

        > span {
            width: 100%;
            display: block;

            flex-shrink: 0;
            
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }



        >#lsb\.plan-sel\.active\.title {
            font-size: 18px;
            font-weight: bold;
            color: var(--palette-primary-dark-color);
        }



        >#lsb\.plan-sel\.active\.desc {
            font-style: italic;
        }



        #lsb\.plan-sel\.active\.opts {
            align-self: flex-end;
            width: 120px;

            > button {
                flex-shrink: 1;

                > i {font-size: 15px;}
            }
        }
    }

    #lsb\.plan-sel\.list {
        padding: 10px;
        overflow-x: hidden;
        overflow-y: auto;

        > #lsb\.plan-sel\.list\.plans {
            background-color: #ffffff9a;
        }
    }
}



/* #endregion */



/* #region Planner selection sidebar */



/* #endregion */


/* #region Main view panel */



.main-view {
    display: flex;
    background-color: white;
    width: 1px;
    height: 100vh;
    flex: 1;

    embed {
        width: 100%;
        height: 100%;
    }
}



.mv_topbar {
    display: flex;
    
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    position: sticky;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;

    box-shadow: 0px 6px 15px #1f437957;
    align-items: center;

    z-index: 999;
}



.mv_topbar > .opts {
    display: flex;
    
    right: 1;

    width: 100%;
    height: 100%;
    
    box-shadow: inset 9px 0px 3px -6px #7a74693d;
    background-color: var(--palette-primary-color);
}



#mv\.action {
    button > i.bi {
        font-size: 100%;
    }
}


.popover {
    visibility: hidden;
    position: absolute;
    margin-top: 20px;
    min-width: 180px;
    box-shadow: 0px 6px 60px var(--shadows-primary-color);

    &[data-vis="true"] {
        visibility: visible;
    }
    z-index: 1;
}



.mv_topbar > .title {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0px 3px 4px #eee2c9;
}



/* #endregion */