:root {
    --buttons-generic: #EFEFEF;
    --buttons-accept: #7DC132;

    --shadows-sidebar-drawover: #7F96A2;
    --shadows-buttons-idle-color: #5f3a3a42;
    --shadows-buttons-hover-color: #8d7b5a42;
    --shadows-buttons-press-color: #ffffff;
}

html, body {
    font-family: Archivo;
    font-size: 14;
}

button {
    font-family: Archivo;
}

body {
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}

hr.common {
    /* Horizontal rules are just thin boxes with borders. */
    border: 0px; /* So, clear the borders, */
    border-top: 1px solid #00000058; /* except the top. */
}


/* #region Common styling */


.c_button {
    border-radius: 4px;
    border: 0;

    padding: 5px 5px 5px 5px;

    box-shadow: 0px 5px 3px var(--shadows-buttons-idle-color);
}




.c_grid-section {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: inherit;
    flex-direction: column;
    gap: 10px;

    background-color: #eee2c9;
    border-radius: 10px;
    padding: 8px 8px 8px 8px;
    width: 100px;
    height: auto;
    box-sizing: border-box;
}

.c_grid-section .c_button {
    /* background-color: #FFFFFFFF;
    border-radius: 4px; */
    border: 0;

    /* padding: 5px 5px 5px 5px; */

    width: 100%;
    height: auto;

    font-size: 10px;
}


.c_trait_buttons_with-icon {
    aspect-ratio: 1/1;

    img {
        width: 90%;
    }
}



/* #region Globally-applied styles */


body .c_button {
    transition:
        background-color 300ms cubic-bezier(0, 0.75, 0.5, 1),
        box-shadow 200ms cubic-bezier(.21,.8,.2,1.15),
        transform 200ms cubic-bezier(.21,.8,.2,1.15)
    ;
    cursor: pointer;

    &:hover {
        background-color: #8e98b8;
        box-shadow: 0px 4px 4px var(--shadows-buttons-hover-color);
        transform: 
            scale(110%);
    }

    &:focus {
        border: 2px;
        background-color: #b3d6ff;
    }

    &:active {
        transition:
            background-color 300ms cubic-bezier(0, 0.75, 0.5, 1),
            box-shadow 200ms cubic-bezier(.21,.8,.2,1.15),
            transform 200ms cubic-bezier(.11,1.69,.14,.83)
        ;
        background-color: #ffba92;
        box-shadow: 0px 2px 8px var(--shadows-buttons-press-color);
        transform: 
            scale(95%);
    }
}


/* #endregion */



/* #endregion */


/* #region Left sidebar styling */

.left-sidebar {
    position: sticky;
    padding: 0 0 0 0;
    width: 80px;
    height: 100vh;
    background-color: #FFFFFF;
    box-shadow: 10px 0px 20px #aca0884c;
}

.left-sidebar_mode-selection {
    position: relative;

    height: auto;
    padding: 10px 10px 10px 10px;
}

.left-sidebar_footer-options {
    background-color: #ccd1e2;
    position: absolute;

    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    height: auto;
    padding: 10px 10px 10px 10px;
    min-height: 50px;
}

/* #endregion */


.main-view {
    display: flex;
    background-color: white;
    width: 1px;
    height: 100vh;
    flex: 1;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.side-bar-split {
    display: flex;
    position: fixed;
    align-content: center;
    width: 100%;
}