/* timescroller */

#tl\.footer\.timebar  {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px var(--shadows-primary-color);

    max-width: 600px;

    margin-left: auto;
    margin-right: auto;

    > #ctrl {
        display: flex;
        
        margin: 0;
        padding: 0;

        flex: 1 0;

        width: 100%;
        justify-content: center;

        > .bar {
            width: 100%;
            height: 20px;
        }

        > .dt-text {
            flex-grow: 1;
        }

        @media (min-width: 500px) {
            > .dt-text {
                text-align: left;
                justify-content: left;
                font-size: 16;
            }
        }

        @media (max-width: 499px) {
            > .dt-text {
                display: none;
            }
        }
    }



    #slider {
        width: 100%;
        height: 20px;

        position: relative;

        > #knob {
            position: absolute;
            height: 100%;
            width: 20px;
            background-color: red;

        }
    }
}



#tl\.footer {
    flex: 0 0;
    width: 100%;
    height: 110px;
    padding: 10px;
}



#tl-mode\.timescr\.sliding-pane {
    height: 100%;
    background-color: var(--palette-accent-color-darker);
    flex: 1 0;

    text-align: center;
    color: #FFFFFF; 
    overflow: auto;
}



#timeline-run {
    min-width: 100%;
    gap: 20px;
}



#timeline-run > div {
    background-color: aqua;
    height: 120px;

    position: relative;

    & > .calendar-type,
    & > .alarm-type,
    & > .kanban-type {
        position: absolute;
        width: 0px;
        height: 100%;
        min-width: 15px;
    }


    /* TODO: fill with type-specific attributes*/
    & > .calendar-type {
        background-color: red;
    }
    
    & > .alarm-type {
        background-color: green;
    }
    
    & > .kanban-type {
        background-color: blue;
    }
}