/* timescroller */

#tl\.footer\.timebar  {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px var(--shadows-primary-color);

    max-width: 600px;

    margin-left: auto;
    margin-right: auto;

    > #ctrl {
        display: flex;
        
        margin: 0;
        padding: 0;

        flex: 1 0;

        width: 100%;
        justify-content: center;

        > .bar {
            width: 100%;
            height: 20px;
        }

        > .dt-text {
            flex-grow: 1;
        }

        @media (min-width: 500px) {
            > .dt-text {
                text-align: left;
                justify-content: left;
                font-size: 16;
            }
        }

        @media (max-width: 499px) {
            > .dt-text {
                display: none;
            }
        }
    }



    #slider {
        width: 100%;
        height: 20px;

        position: relative;

        > #knob {
            position: absolute; 
            height: 100%;
            width: 8px;
            background-color: red;
        }
    }
}



#tl\.footer {
    flex: 0 0;
    width: 100%;
    height: 110px;
    padding: 10px;
}



#tl-mode\.timescr\.sliding-pane {
    height: 100%;
    background-color: var(--palette-accent-color-darker);
    flex: 1 0;

    text-align: center;
    color: #FFFFFF; 
    overflow: auto;
}



#timeline-run {
    position: relative;
    min-width: 100%;
    gap: 20px;

    & #day-div-ruler {
        position : relative;
        width : 100%;
        height : 16px;
        z-index : 1;
        overflow : clip;

        > span {
            position : absolute;
            color : #FFF;
            font-size : 12px;
        }
    }
}



#timeline-run > div {
    outline: 1px dotted;
    height: 100px;

    position: relative;

    & > .calendar-type,
    & > .alarm-type,
    & > .kanban-type {
        padding: 5px;
        position: absolute;

        width: 0px;
        min-width: 15px;

        border-radius: 5px;

        text-overflow: clip;
        overflow: hidden;
        white-space: nowrap;

        text-align: left;
        outline: solid 1px #00000090;
    }

    & > .kanban-type,
    & > .alarm-type {
        bottom: 5%;
        height: 70%;
        max-width: 15px;

        color: #FFF
    }

    & > .calendar-type {
        height: 100%;

        color: #000
    }


    /* TODO: fill with type-specific attributes*/
    & > .calendar-type {
        background-color: #ffffff;
    }
    
    & > .alarm-type {
        background-color: #ff8762;
    }
    
    & > .kanban-type {
        background-color: #cae3ff;
    }
}