/* timescroller */

.tl_ts {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px var(--shadows-primary-color);

    max-width: 600px;

    > .ctrl {
        display: flex;
        
        margin: 0;
        padding: 0;
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;
        justify-content: center;

        > .bar {
            width: 100%;
            height: 20px;
        }

        > .f-grow {
            flex-grow: 1
        }

        @media (min-width: 500px) {
            > .dt-text {
                text-align: left;
                justify-content: left;
                font-size: 16;
            }
        }

        @media (max-width: 499px) {
            > .dt-text {
                display: none;
            }
        }
    }

    > .slider {
        width: 100%;
        height: 20px;

        /* TODO: Button knob def here when a JS-powered knob finally exists. */
    }
}