/* timescroller */

.tl_ts {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px var(--shadows-primary-color);

    max-width: 600px;

    margin-left: auto;
    margin-right: auto;

    > .ctrl {
        display: flex;
        
        margin: 0;
        padding: 0;

        flex: 1 0;

        width: 100%;
        justify-content: center;

        > .bar {
            width: 100%;
            height: 20px;
        }

        > .dt-text {
            flex-grow: 1;
        }

        @media (min-width: 500px) {
            > .dt-text {
                text-align: left;
                justify-content: left;
                font-size: 16;
            }
        }

        @media (max-width: 499px) {
            > .dt-text {
                display: none;
            }
        }
    }

    > .slider {
        width: 100%;
        height: 20px;

        /* TODO: Button knob def here when a JS-powered knob finally exists. */
    }
}

.tl_main {
    position: fixed;
    display: flex;

    flex-flow: column nowrap;

    #tl-mode\.timescr\.sliding-pane {
        background-color: var(--palette-accent-color-darker);
        flex: 1 0;

        text-align: center;
        color: #FFFFFF; 
    }
}

.tl_footer {
    flex: 0 0;
    width: 100%;
    height: 110px;
    padding: 10px;
}